# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
  admin_email: "%env(ADMIN_EMAIL)%"
  # OAuth2 configuration
  oauth.client_id: "%env(OAUTH_CLIENT_ID)%"
  oauth.client_secret: "%env(OAUTH_CLIENT_SECRET)%"
  oauth.refresh_token: "%env(OAUTH_REFRESH_TOKEN)%"
  oauth.token_url: "%env(default::OAUTH_TOKEN_URL)%"

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: "../src/"
    exclude:
      - "../src/DependencyInjection/"
      - "../src/Entity/"
      - "../src/Kernel.php"

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones

  # Configure the MailerService with the admin email
  App\Service\MailerService:
    arguments:
      $adminEmail: "%admin_email%"

  # Google OAuth2 Token Fetcher Service
  App\Service\GoogleOAuth2TokenFetcher:
    arguments:
      $clientId: "%oauth.client_id%"
      $clientSecret: "%oauth.client_secret%"
      $refreshToken: "%oauth.refresh_token%"
      $accessToken: null # Will be fetched automatically when needed

  # Gmail OAuth Transport Factory
  App\Mailer\GmailOAuthTransportFactory:
    tags: ["mailer.transport_factory"]

  # Configure SendTestEmailCommand with the admin email
  App\Command\SendTestEmailCommand:
    arguments:
      $adminEmail: "%admin_email%"

  # Configure SimpleSendEmailCommand with the admin email
  App\Command\SendSimpleEmailCommand:
    arguments:
      $adminEmail: "%admin_email%"

  # Configure SendOAuth2EmailCommand with the admin email
  App\Command\SendOAuth2EmailCommand:
    arguments:
      $adminEmail: "%admin_email%"
      $tokenManager: '@App\Service\OAuthTokenManager'

  # OAuth Token Manager
  App\Service\OAuthTokenManager:
    arguments:
      $params: "@parameter_bag"

  # Register the OAuth2 transport factory
  App\Mailer\Transport\OAuth2TransportFactory:
    arguments:
      $tokenManager: '@App\Service\OAuthTokenManager'
      $logger: "@logger"
    tags: ["mailer.transport_factory"]

  App\Mailer\Transport\OAuth2SmtpTransport:
    arguments:
      $tokenManager: '@App\Service\OAuthTokenManager'
      $logger: "@logger"

  # Register XOAUTH2 authenticator
  App\Mailer\Transport\XOAuth2Authenticator:
    arguments:
      $tokenManager: '@App\Service\OAuthTokenManager'
      $logger: "@logger"
    tags: ["mailer.smtp_authenticator"]
